<div [formGroup]="form">
  <label [attr.for]="fieldData.key">{{fieldData.label}}</label>

  <div [ngSwitch]="fieldData.controlType">

    <div *ngSwitchCase="'intputbox'">
      <input *ngIf="fieldData.type === 'textbox'" [formControlName]="fieldData.key" [id]="fieldData.key" [type]="fieldData.type"/>
      <input *ngIf="fieldData.type === 'number'" [formControlName]="fieldData.key" [id]="fieldData.key" [type]="fieldData.type"/>
      <input *ngIf="fieldData.type === 'email'" [formControlName]="fieldData.key" [id]="fieldData.key" [type]="fieldData.type"/>
      <input *ngIf="fieldData.type === 'checkbox'" (click) = "eventTriggered($event)" [formControlName]="fieldData.key" [id]="fieldData.key" [type]="fieldData.type" [checked] = "fieldData.checked" />
    </div>
    <div *ngSwitchCase="'optionfield'">
      <div *ngIf="fieldData.type === 'radio'">
        <div *ngFor="let option of fieldData.options">
            <label > {{option.value}}
                <input (change) = "onSelectionChange(option.value)" [name] = "fieldData.key" [formControlName]="fieldData.key" [id]="fieldData.key" [value]="option.value" [checked] = "option.checked" [type]="fieldData.type" >
            </label>
        </div>
      </div>
      <div *ngIf="fieldData.type === 'dropdown'">
        <select [id]="fieldData.key" [formControlName]="fieldData.key">
              <option *ngFor="let option of fieldData.options" [value]="option.key">{{option.value}}</option>
        </select>
      </div>
    </div>
    <div *ngSwitchCase="'textarea'">
      <textarea [formControlName]="fieldData.key" [id]="fieldData.key" [rows] = "fieldData.rows" [cols] = "fieldData.cols" ></textarea>
    </div>
  </div>
  <div class="errorMessage" *ngIf="!isValid">{{validationMessage}}</div>
</div>
