<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

       <div *ngFor="let fieldData of formData" class="form-row">
         <app-bhm-dynamic-form [fieldData]="fieldData" [form]="form"></app-bhm-dynamic-form>
       </div>

       <div class="form-row">
         <button type="submit" [disabled]="!form.valid">Save</button>
       </div>
     </form>

     <div *ngIf="payLoad" class="form-row">
       <strong>Saved the following values</strong><br>{{payLoad}}
     </div>
</div>
