<h3>CUE Module</h3>
<nav>
    <a routerLink="./report/x" routerLinkActive="active">report</a>
    <a routerLink="./statistics" routerLinkActive="active">statistics</a>
</nav>
<div>
    <h2>CUE Form</h2>
    <app-bhm-dynamic-form-base [formData]="formData"></app-bhm-dynamic-form-base>
  </div>
<router-outlet></router-outlet>
