<h1>{{appName}}</h1>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">DashBoard</a>
  <a routerLink="/inspection" routerLinkActive="active">Inspection</a>
</nav>
<router-outlet></router-outlet>